<!DOCTYPE html>
<html>
<head>
  <title>Cul::Omniauth</title>
  <%= stylesheet_link_tag    "cul/omniauth/application", media: "all" %>
  <%= javascript_include_tag "cul/omniauth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
